@import "header/header.css";
@import "header/_theme/header_theme_sushi.css";

/* Вся страница */
* {
    /* Удаляет все внешние отступы по-умолчанию на странице */
    margin: 0;
    /* Удаляет все внутренние отступы по-умолчанию на странице */
    padding: 0;
}

/* Тело страницы */
body {
    /* Устанавливает шрифт текста на всей странице */
    font-family: 'Open Sans', sans-serif;
}