@import "header/header.css";
@import "header/_theme/header_theme_sushi.css";
@import "upline/upline.css";
@import "upline/__cart/upline__cart.css";
@import "nav-menu/__item/nav-menu__item.css";
@import "cart/cart.css";
@import "cart/__img/cart__img.css";
@import "phone/_color/phone_color_white.css";
@import "phone-line/phone-line.css";
@import "phone-line/__number/phone-line__number.css";
@import "phone-line/__number/_color/phone-line__number_color_white.css";
@import "phone-line/__number/_hovered/phone-line__number_hovered.css";
@import "phone-text/phone-text.css";
@import "item/item.css";
@import "item/_color/item_color_white.css";
@import "item/_hovered/item_hovered.css";

/* Вся страница */
* {
    /* Удаляет все внешние отступы по-умолчанию на странице */
    margin: 0;
    /* Удаляет все внутренние отступы по-умолчанию на странице */
    padding: 0;
}

/* Тело страницы */
body {
    /* Устанавливает шрифт текста на всей странице */
    font-family: 'Open Sans', sans-serif;
}