/* All page */
* {
    /* Delete all default margins on the page */
    margin: 0;
    /* Delete all default paddings on the page */
    padding: 0;
}

/* Body of the page */
body {
    /* Set font-family for the page */
    font-family: 'Open Sans', sans-serif;
}

/* Header of the page */
.header {
    /* Set the image, position, size and discard repeating for header */
    background: url("../images/bg.png") center / cover no-repeat;
    /* Set the height of header to 100% of the height of viewport, fullscreen */
    height: 100vh;
}

/* Container of header */
.container {
    /* Setting margin of the container of header */
    margin: 0px 166px;
}

/* Navigation menu */
.header-line {
    /* Setting padding of the header-line */
    padding-top: 50px;
    /* Setting display to flex for nav-items */
    display: flex;
    /* Vertical align items to center */
    align-items: center;
    /* Horizontal align items with the same space around them */
    justify-content: space-around;
}

/* Navigation item */
.nav-item {
    /* Setting color of nav-items */
    color: #fff;
    /* Delete underlines of nav-items */
    text-decoration: none;
    /* Setting weight of the text of nav-items */
    font-weight: 700;
    /* Setting size of the text of nav-items */
    font-size: 14px;
    /* Setting right margin for nav-items */
    margin-right: 25px;
    /* Setting transition color, time and type */
    transition: color 0.3s linear;
}

/* Hovered nav-item */
.nav-item:hover {
    /* Setting the color of hovered nav-item */
    color: #d81d1d;
}

/* Cart near the nav-items */
.cart {
    /* Setting position relative for the cart-image's positioning */
    position: relative;
    /* Setting white border rigth to the cart */
    border-right: 1px solid #FFFFFF;
    /* Setting right padding between cart image and right border */
    padding-right: 10px;
    /* Setting height of the cart div (of the border) */
    height: 50px;
}

/* Cart-image */
.cart-img {
    /* Setting position absolute for the cart-image positioning */
    position: absolute;
    /* Move cart-image on top */
    top: 18px;
    /* Move cart-image right */
    right: 7px;
}

/* Phone-holder container */
.phone-holder {
    /* Setting display to flex for phone-holder items */
    display: flex;
    /* Vertical align items to center */
    align-items: center;
}

/* Number link */
.num {
    /* Setting color for number link */
    color: #fff;
    /* Delete underline of number link */
    text-decoration: none;
    /* Setting font-weight of number link */
    font-weight: 700;
    /* Setting transition color, time and type */
    transition: color 0.3s linear;
}

/* Hovered number link */
.num:hover {
    /* Setting color of number link */
    color: #d81d1d;
}

/* Text under phone */
.phone-text {
    /* Setting font-size of text under phone */
    font-size: 14px;
    /* Setting font-weight of text under phone */
    font-weight: 400;
    /* Setting color of text under phone */
    color: #fff;
}

/* Button of reservation */
.button {
    /* Setting background color of the button of reservation */
    background-color: #FF7400;
    /* Setting color of the text of the button of reservation */
    color: #fff;
    /* Delete underline of button of reservation */
    text-decoration: none;
    /* Setting padding for the button content */
    padding: 14px 18px;
    /* Setting font-weight of text for the button */
    font-weight: 700;
    /* Setting transition color, time and type */
    transition: background-color 0.2s linear;
}

/* Hovered button of reservation */
.button:hover {
    /* Setting background color of the button of reservation */
    background-color: #894b17;
}

/* Downside of header */
.header-down {
    /* Setting position relative for the header-down's items positioning */
    position: relative;
}

/* The title of the header */
.header-title {
    /* Setting the color of the header title */
    color: #D67E35;
    /* Setting the font-family of the header title */
    font-family: 'Tinos', serif;
    /* Setting the font-size of the header title text */
    font-size: 50px;
    /* Setting the font-weight of the header title text */
    font-weight: 400;
    /* Align items to center */
    text-align: center;
    /* Setting position absolute for the header title */
    position: absolute;
    /* Ident left */
    left: 0;
    /* Setting right margin for the header title */
    margin-top: 222px;
    /* Setting bottom margin for the header title */
    margin-bottom: 12px;
}

/* The suptitle of the header */
.header-suptitle {
    /* Setting the color of the header suptitle */
    color: #fff;
    /* Setting the font-size of the header suptitle */
    font-size: 18px;
    /* Setting the font-family of the header suptitle */
    font-family: 'Open Sans', sans-serif;
}

/* Line before header suptitle */
.header-suptitle:before {
    /* Positioning absolute for moving line */
    position: absolute;
    /* Empty content becouse must be simple line */
    content: '';
    /* Setting height of line */
    height: 2px;
    /* Setting length of line */
    width: 61px;
    /* Setting color of line */
    background-color: #fff;
    /* Move line on top */
    top: 127px;
    /* Move line left */
    left: 308px;
}

/* Line after header suptitle */
.header-suptitle:after {
    /* Positioning absolute for moving line */
    position: absolute;
    /* Empty content becouse must be simple line */
    content: '';
    /* Setting height of line */
    height: 2px;
    /* Setting length of line */
    width: 61px;
    /* Setting color of line */
    background-color: #fff;
    /* Move line on top */
    top: 127px;
    /* Move line left */
    left: 56px;
}

/* Button of VIEW MENU */
.header-button {
    /* Setting color of button */
    background-color: #FF7400;
    /* Setting padding for the button */
    padding: 14px 28px;
    /* Setting text color of button */
    color: #fff;
    /* Setting size of text of button */
    font-size: 14px;
    /* Setting font weight of button */
    font-weight: 700;
    /* Setting font-family of button */
    font-family: 'Open Sans', sans-serif;
    /* Remove underlines from text of button */
    text-decoration: none;
    /* Setting transition color, time & type */
    transition: background-color 0.3s linear;
}

/* Hovered button of VIEW MENU */
.header-button:hover {
    /* Setting background color of button of VIEW MENU */
    background-color: #904506;
}

/* Cards container */
.cards-holder {
    /* Setting display to flex for cards */
    display: flex;
    /* Horizontal align items in center */
    justify-content: center;
}

/* Card with info about the restaurant */
.card {
    /* Setting the width of the card */
    width: 349px;
    /* Setting shadows of the card */
    box-shadow: 10px 10px 40px 20px #0000001A;
    /* Setting right margin of the card */
    margin-right: 31px;
    /* Setting background color of the card */
    background-color: #fff;
    /* Setting top margin of the card */
    margin-top: -80px;
    /* Setting paddings of the card */
    padding: 10px 10px;
}

/* Image on the card */
.card-image {
    /* Setting display to flex for image on the card */
    display: flex;
    /* Horizontal align items in center */
    justify-content: center;
    /* Setting top padding of the image on the card */
    padding-top: 31px;
}

/* Title on the card */
.card-title {
    /* Setting display to flex for title on the card */
    display: flex;
    /* Horizontal align items in center */
    justify-content: center;
    /* Setting bottom margin for the title */
    margin-bottom: 20px;
    /* Setting font for the title */
    font-family: 'Tinos', serif;
    /* Setting size of text of the title */
    font-size: 26px;
    /* Setting weight of text of the title */
    font-weight: 400;
}

/* Customize words in title */
.card-title span {
    /* Setting text color of word */
    color: #BC9060;
    /* Setting left margin of word */
    margin-left: 6px;
}

/* Description text of title */
.card-desc {
    /* Horizontal align text in center */
    text-align: center;
    /* Setting font for the description */
    font-family: 'Tinos', serif;
    /* Setting size of text of the description */
    font-size: 26px;
    /* Setting weight of text of the description */
    font-weight: 400;
    /* Setting color of the description */
    color: #656363;
}

/* Наша история */
.history {
    /* Отступ истории сверху */
    margin-top: 166px;
    /* Отступ истории снизу */
    padding-bottom: 200px;
}

/* Заголовок истории */
.history-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    /* Ширина блока заголовка истории */
    width: 444px;
    text-align: center;
    /* Отступ между заголовком истории и текстом истории */
    margin-bottom: 21px;
}

/* Индивидуальный стиль текста в заголовке истории */
.history-title span {
    color: #BC9060;
}

/* Описание истории */
.history-desc {
    color: #656363;
    font-size: 16px;
    /* Ширина блока описания истории */
    width: 444px;
    text-align: center;
}

/* Контейнер для количества товаров в ассортименте в истории */
.history-number {
    display: flex;
    /* Ширина контейнера для количества товаров в ассортименте в истории */
    width: 444px;
    /* Горизонтальное выравнивание элементов контейнера для количества товаров в ассортименте в истории по центру */
    justify-content: center;
    /* Отступ контейнера товаров сверху */
    margin-top: 40px;
    /* Отступ контейнера товаров слева */
    margin-left: 30px;
}

/* Элемент контейнера товаров */
.number-item {
    /* Правый внешний отступ элемента */
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color: #BC9060;
}

/* Индивидуальный стиль текста в элементе контейнера товаров */
.number-item span {
    display: block;
    color: #000;
    font-size: 20px;
}

/* Контейнер для изображений истории */
.history-images {
    position: relative;
}

/* Контейнер элементов истории */
.history-holder {
    display: flex;
    /* Горизонтальное выравнивание элементов истории, чтобы было одинаковое пространство между элементами */
    justify-content: space-between;
}

/* Первое изображение истории */
.images-1 {
    position: absolute;
    /* Изображение ниже остальных */
    z-index: 0;
    top: 54px;
    left: -946px;
}

/* Второе изображение истории */
.images-2 {
    position: absolute;
    /* Изображение между двумя другими изображениями */
    z-index: 100;
    top: -87px;
    left: -772px;
}

/* Третье изображение истории */
.images-3 {
    position: absolute;
    /* Изображение выше остальных */
    z-index: 200;
    /* Смещение изображения вниз */
    top: 242px;
    /* Смещение изображения влево */
    left: -668px;
}

.black-block {
    /* Фон чёрного блока */
    background-image: url('../images/black-bg.jpg');
    /* Внутренние нижний и верхний отступы чёрного блока */
    padding: 80px 0;
}

/* Левый заголовок чёрного блока */
.left-title {
    /* Цвет левого заголовка чёрного блока */
    color: #D67E34;
    /* Шрифт заголовка чёрного блока */
    font-family: 'Tinos', serif;
    /* Размер шрифта заголовка чёрного блока */
    font-size: 52px;
    /* Толщина шрифта заголовка чёрного блока */
    font-weight: 400;
    /* Нижний внешний отступ */
    margin-bottom: 20px;
}

/* Левый подзаголовок чёрного блока */
.left-text {
    /* Размер шрифта левого подзаголовка чёрного блока */
    font-size: 23px;
    /* Толщина шрифта левого подзаголовка чёрного блока */
    font-weight: 700;
    /* Цвет подзаголовка чёрного блока */
    color: #fff;
}

/* Правая кнопка чёрного блока */
.right-btn {
    /* Цвет фона кнопки чёрного блока */
    background-color: #FF7400;
    /* Цвет шрифта чёрного блока */
    color: #fff;
    /* Без подчёркивания */
    text-decoration: none;
    /* Внутренние отступы кнопки чёрного блока */
    padding: 14px 18px;
    /* Толщина шрифта чёрного блока */
    font-weight: 700;
    /* Длительность изменения фона кнопки чёрного блока */
    transition: background-color 0.2s linear;
}

.block-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishes-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    padding-top: 132px;
    margin-bottom: 139px;
}

.dishes-title span {
    color: #D67E34;
}

.burgers {
    display: flex;
    justify-content: center;
}

.burger-item {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.burgers-image {
    margin-right: 20px;
}

.burger-text {
    font-family: 'Tinos', serif;
    font-size: 26px;
    margin-left: 20px;
}

.menu {
    background-image: url('../images/menu-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.menu-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    padding-top: 98px;
    color: #fff;
    text-align: center;
    padding-bottom: 138px;
}

.menu-item {
    background-color: #fff;
    text-align: center;
    width: 22%;
    padding-top: 80px;
    padding-bottom: 30px;
    margin-right: 20px;
}

.menu-text {
    font-family: 'Tinos', serif;
    font-size: 26px;
    padding-top: 16px;
    padding-bottom: 17px;
}

.menu-subtext {
    font-size: 16px;
}

.menu-btn {
    background-color: #D67E34;
    text-decoration: none;
    padding: 14px 67px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 5px 5px 10px 0px #00000040;
}

.menu-button {
    margin-top: 20px;
}

.price-image {
    position: absolute;
    bottom: 0;
    right: 55px;
}

.menu-image {
    position: relative;
}

.price-420 {
    position: absolute;
    bottom: 33px;
    right: 83px;
    color: #fff;
    font-family: 'Cookie';
    font-weight: 400;
    font-size: 30px;
}

.menu-items {
    display: flex;
    justify-content: center;
}

.coment {
    background-color: #E5E5E5;
    padding-top: 104px;
    padding-bottom: 139px;
}

.coment-text {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 20px;
}

.coment-image {
    text-align: center;
}

.coment-type {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.coment-name {
    padding-top: 9px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.galery-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 60px;
}

.galery-title span {
    color: #D67E34;
}

.galery-content {
    display: flex;
    justify-content: center;
}

.galery-left {
    margin-right: 20px;
}

.galery-down, .galery-up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cook {
    padding-bottom: 100px;
}

.cook-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.cook-title span {
    color: #D67E34;
}

.cook-content {
    display: flex;
    justify-content: space-around;
}

.footer {
    background-color: #000;
    padding: 50px 0;
    color: #fff;
    text-align: center;
}

.burger-menu {
    display: none;
}

.block {
    display: block;
}

.burger-slide {
    position: absolute;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

.disp {
    display: none;
}

@media screen and (max-width: 1500px) {
    .galery-content {
        display: block;
    }

    .img-gal, .galery-up, .galery-down {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .img-gal {
        margin-bottom: 20px;
    }

    .galery-left {
        margin-right: 0;
    }
}

@media screen and (max-width: 1300px) {
    .menu-items {
        display: block;
    }

    .menu-item {
        margin: 20px auto;
        width: 400px;
    }

    .header-title {
        position: static;
    }

    .header-suptitle:before, .header-suptitle:after {
        content: none;
    }

    .cook-content {
        display: block;
    }

    .cook-content img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .block-holder {
        display: block;
    }

    .left-title, .left-text, .right-button {
        text-align: center;
    }

    .right-button {
        margin-top: 30px;;
    }

    .history-images {
        display: none;
    }

    .history-title, .history-desc, .history-number {
        width: auto;
    }
}

@media screen and (max-width: 1185px) {
    .burger-menu {
        display: block;
    }

    .nav, .cart, .phone, .btn {
        display: none;
    }

    .header-line {
        justify-content: space-between;
    }

    .burgers-image {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .cards-holder {
        display: block;
    }

    .card {
        width: 100%;
        margin-top: 30px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 780px) {
    .history-holder {
        display: block;
    }

    .menu-item {
        width: auto;
    }

    .high {
        display: none;
    }

    .container {
        margin: auto 40px;
    }

    .number-item {
        font-size: 23px;
    }
}