/* Реализация элемента `cart__img` в технологии CSS */

.cart__img {
    /* Устанавливает абсолютное позиционирование для изображения корзины */
    position: absolute;
    /* Сдвигает изображение корзины вверх */
    top: 22px;
    /* Сдвигает изображение корзины вправо */
    right: 10px;
}