/* Реализация блока `upline` в технологии CSS */

.upline {
    /* Устанавливает внутренний верхний отступ верхней части заголовка */
    padding-top: 50px;
    /* Устанавливает тип размещения flex для элементов верхней части заголовка */
    display: flex;
    /* Устанавливает вертикальное выравнивание элементов верхней части заголовка по центру */
    align-items: center;
    /* Устанавливает горизонтальное выравнивание элементов верхней части заголовка с одинаковым пространством вокруг этих элементов */
    justify-content: space-around;
}