/* Реализация блока `cart` в технологии CSS */

.cart {
    /* Устанавливает белую правую границу блоку корзины */
    border-right: 1px solid #FFFFFF;
    /* Устанавливает внутренний правый отступ блоку корзины */
    padding: 20px 10px;
    /* Устанавливает высоту блока корзины */
    height: 20px;
}