/* Реализация элемента `nav-menu__item` в технологии CSS */

.nav-menu__item {
    /* Устанавливает цвет элемента меню навигации */
    color: #fff;
    /* Удаляет подчёркивание элемента меню навигации */
    text-decoration: none;
    /* Устанавливает толщину шрифта текста элемента меню навигации */
    font-weight: 700;
    /* Устанавливает размер шрифта текста элемента меню навигации */
    font-size: 14px;
    /* Устанавливает внешний правый отступ элемента меню навигации */
    margin-right: 25px;
    /* Устанавливает цвет, длительность и тип перехода */
    transition: color 0.3s linear;
}