/* Реализация элемента `phone-line__number` в технологии CSS */

.phone-line__number {
    /* Удаляет нижнее подчёркивание для ссылки телефона */
    text-decoration: none;
    /* Устанавливает толщину шрифта текста ссылки телефона */
    font-weight: 700;
    /* Устанавливает цвет, длительность и тип перехода */
    transition: color 0.3s linear;
}