/* Реализация блока `item` в технологии CSS */

.item {
    /* Удаляет подчёркивание элемента меню навигации */
    text-decoration: none;
    /* Устанавливает толщину шрифта текста элемента меню навигации */
    font-weight: 700;
    /* Устанавливает размер шрифта текста элемента меню навигации */
    font-size: 14px;
    /* Устанавливает цвет, длительность и тип перехода */
    transition: color 0.3s linear;
}